body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

/* imagem de fundo */
.foto-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* card */
.card {
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  max-width: 300px;
  margin: auto;
  margin-top: 20vh;
}


h1 {
  color: #ff4d6d;
}

button {
  background-color: #ff4d6d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #e63950;
}
